---
import BuildSection from '../components/BuildSection.astro';
import FinalCta from '../components/FinalCta.astro';
import Footer from '../components/Footer.astro';
import GuideSection from '../components/GuideSection.astro';
import Hero from '../components/Hero.astro';
import HowSection from '../components/HowSection.astro';
import Laws from '../components/Laws.astro';
import Layout from '../layouts/Layout.astro';
import ModulesSection from '../components/ModulesSection.astro';
import Nav from '../components/Nav.astro';
import Problem from '../components/Problem.astro';
---

<Layout>
  <div class="page">
    <Nav />
    <Hero />
    <Problem />
    <Laws />
    <HowSection />
    <BuildSection />
    <ModulesSection />
    <GuideSection />
    <FinalCta />
    <Footer />
  </div>
</Layout>
